* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



a{
    text-decoration: none;

}
a:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

body {
    /* background-color: #080312; */
    background: linear-gradient(270deg, #13020b, #1d0110, #000000, #380d41);
  background-size: 1400% 1400%;
  animation: gradientAnimation 30s ease infinite;
}
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.row-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


}
.t{
    margin-right: 10px;
    margin-left: -10px;
}



.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: flex;
    place-content: center;
    padding: 0.5em 1.5em;
    justify-content: start;
    align-items: center;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
    width: 250px;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 800ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 500ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
  

  .card {
    margin: 0 auto;
    margin-top: 50%;
    width: 290px;
    height: 354px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;


  }
  
  .card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#7e03aa, #9d09d3);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }

.perfil{
    align-self: flex-start;
    
    margin-left: 20px;
    margin-bottom: 20px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid wheat;
    transition:all 1.0s;
}
.perfil:hover{
    transform: scale(1.1);
    transition: 1s;
}

.flex-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: start;
    
    justify-content: start;
}

.texto{
    font-size: 21px;

    color: #e0d9e0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    transition:all 1.0s;
}

.texto:hover{
    transform: scale(1.05);
    color: white;
}

